:root {
  --branding-color: burlywood;
  --branding-color-background: #f8f9fa;
  --heading-font-family: "Bebas Neue", sans-serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  color: black;
}

h1 {
  font-size: 96px;
  line-height: 2;
  font-weight: bold;
}

h2 {
  font-size: 64px;
  line-height: 2;
}

body {
  font-family: var(--default-font-family);
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

a {
  color: var(--branding-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header-image {
  background-image: url("/images/hero-image8.jpg");
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
}

.header-text {
  background-color: var(--branding-color-background);
  opacity: 0.8;
  padding: 10px;
  border-radius: 20px;
}

.hero {
  padding: 100px 250px 100px;
  text-align: center;
  margin: 0 auto;
}

.home-and-contact-hero {
  padding: 250px 250px 100px;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
}

.contact-icons {
  text-align: center;
}

.contact-icon {
  color: var(--branding-color);
  font-size: 48px;
  padding: 20px;
  background-color: var(--branding-color-background);
  border-radius: 500px;
  margin: 0 20px;
  transition: all 100ms ease-in-out;
}

.contact-icon:hover {
  background-color: var(--branding-color);
  color: white;
}

.branded-button {
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}

.branded-button:hover {
  background-color: var(--branding-color);
  color: white;
  text-decoration: none;
}

.content-container {
  padding: 60px;
}

.project-image {
  margin-bottom: 40px;
}

.headshot {
  border-radius: 500px;
  max-width: 300px;
  display: block;
  margin: 50px auto;
}

.email {
  text-align: center;
  line-height: 2;
  font-size: 12px;
}

.certificates {
  padding: 60px;
}

.certificate-image {
  max-width: 250px;
  margin-bottom: 12px;
  transition: all 100ms ease-in-out;
}

.certificate-image:hover {
  transform: scale(125%);
}

.coded-by {
  text-align: center;
}

.coding-icons {
  color: olivedrab;
}

@media (max-width: 900px) {
  .hero {
    padding: 85px;
  }

  .home-and-contact-hero {
    padding: 200px 45px;
  }

  .hero h2 {
    font-size: 20px;
  }

  h1 {
    font-size: 45px;
    line-height: 1.5;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 12px;
  }

  .content-container {
    text-align: center;
    padding: 0 60px;
    margin-bottom: 30px;
  }

  .contact-icon {
    font-size: 24px;
    padding: 10px;
    margin: 0 5px;
  }

  .branded-button {
    font-size: 10px;
    line-height: 14px;
    padding: 10px 15px;
  }

  .certificates {
    text-align: center;
  }

  .headshot {
    margin-top: 0;
  }
}
