:root {
  --branding-color: olive;
  --branding-color-background: #f8f9fa;
  --heading-font-family: "playfair display";
  --default-font-family: "poppins";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: black;
}

h1 {
  font-size: 96px;
  line-height: 2;
}

h2 {
  font-size: 64px;
}

body {
  font-family: var(--default-font-family);
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.home-hero {
  padding: 160px;
}

.contact-hero {
  padding: 100px;
}

.hero {
  padding: 30px;
  text-align: center;
  background-color: white;
  margin: 0;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: "poppins";
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}

.contact-icon {
  color: black;
  font-size: 48px;
  padding: 40px;
}

.contact-icons {
  text-align: center;
  background-color: var(--branding-color-background);
}

.branded-button {
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  color: black;
  border: 1px solid black;
}

.content-container {
  padding: 60px;
}

.project-image {
  margin-bottom: 40px;
}

.headshot {
  border-radius: 500px;
  max-width: 300px;
  display: block;
  margin: 50px auto;
}

.email {
  text-align: center;
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
    line-height: 1.5;
  }

  h2 {
    font-size: 42px;
  }

  p {
    font-size: 12px;
  }

  .hero {
    padding: 50px 0;
    margin-bottom: 0;
  }

  .content-container {
    text-align: center;
    padding: 0 60px;
    margin-bottom: 30px;
  }

  .headshot {
    margin-top: 0;
  }

  .contact-icon {
    font-size: 24px;
  }
}
